<html>
<head>
	<!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link href= "/public/assets/sb-admin.css" rel="stylesheet" type="text/css" >
	
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<div>
   <a href="/">Home</a> |
   <a href="/classes/add">Add Class</a> |
    <a href="/classes">All Classes</a>
</div>
<h1><%= title %></h1>